In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df[:3]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,6530342,HP603653,10/01/2008 03:30:00 PM,076XX S COTTAGE GROVE AVE,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,6.0,69.0,08B,1182884.0,1854628.0,2008,02/04/2016 06:33:39 AM,41.756303,-87.605332,"(41.756302533, -87.605331512)"
1,6530343,HP603773,10/01/2008 05:00:00 PM,031XX S GREEN ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE,False,False,...,11.0,60.0,05,1171221.0,1884004.0,2008,02/04/2016 06:33:39 AM,41.837176,-87.647215,"(41.837176353, -87.647214569)"
2,6530344,HP600313,09/29/2008 04:15:00 PM,063XX S STONY ISLAND AVE,0890,THEFT,FROM BUILDING,OTHER,False,False,...,20.0,42.0,06,1187961.0,1863261.0,2008,02/04/2016 06:33:39 AM,41.779873,-87.586451,"(41.779872827, -87.586450869)"

In [8]:
df.isnull().any()
df = df.drop(axis=1, labels=["Block", "Beat", "Ward", "FBI Code", "Updated On", "Location"])
df[:3]

,ID,Case Number,Date,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,District,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
0,6530342,HP603653,10/01/2008 03:30:00 PM,0460,BATTERY,SIMPLE,SIDEWALK,False,False,6.0,69.0,1182884.0,1854628.0,2008,41.756303,-87.605332
1,6530343,HP603773,10/01/2008 05:00:00 PM,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE,False,False,9.0,60.0,1171221.0,1884004.0,2008,41.837176,-87.647215
2,6530344,HP600313,09/29/2008 04:15:00 PM,0890,THEFT,FROM BUILDING,OTHER,False,False,3.0,42.0,1187961.0,1863261.0,2008,41.779873,-87.586451

In [9]:
df.dtypes

ID                        int64
Case Number              object
Date                     object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
District                float64
Community Area          float64
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Latitude                float64
Longitude               float64
dtype: object

In [10]:
df.describe()

,ID,District,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.456793e+06,6.456744e+06,5.840763e+06,6.371413e+06,6.371413e+06,6.456793e+06,6.371413e+06,6.371413e+06
mean,5.997175e+06,1.130729e+01,3.763795e+01,1.164488e+06,1.885660e+06,2.007895e+03,4.184185e+01,-8.767191e+01
std,2.903897e+06,6.944510e+00,2.153416e+01,1.736897e+04,3.298836e+04,4.689864e+00,9.078570e-02,6.278716e-02
min,6.340000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.336101e+06,6.000000e+00,2.300000e+01,1.152919e+06,1.859159e+06,2.004000e+03,4.176887e+01,-8.771393e+01
50%,5.962968e+06,1.000000e+01,3.200000e+01,1.165935e+06,1.890330e+06,2.007000e+03,4.185484e+01,-8.766633e+01
75%,8.502941e+06,1.700000e+01,5.800000e+01,1.176352e+06,1.909339e+06,2.012000e+03,4.190692e+01,-8.762845e+01
max,1.112508e+07,3.100000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.017000e+03,4.202291e+01,-8.752453e+01

In [26]:
df.groupby(["Primary Type"])

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/celine/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-25-272e4dae1398>", line 1, in <module>
    ax.show()
AttributeError: 'AxesSubplot' object has no attribute 'show'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/celine/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1821, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'AttributeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/celine/anaconda/lib/python3.6/site-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/celine/anaconda/lib/python3.6/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/Users/celine/anaconda/lib/python3.6/site-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/celine/anaconda/lib/python3.6/inspect.py", line 1453, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/celine/anaconda/lib/python3.6/inspect.py", line 1411, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/celine/anaconda/lib/python3.6/inspect.py", line 666, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/celine/anaconda/lib/python3.6/inspect.py", line 695, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/celine/anaconda/lib/python3.6/inspect.py", line 679, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/celine/anaconda/lib/python3.6/posixpath.py", line 374, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

AttributeError: 'AxesSubplot' object has no attribute 'show'